<<<<<<< HEAD
body
{
	background: #42455a;
}
.container
{
	background: #42455a;
}
.menu ul
{
	display: inline-flex;
	margin: 50px;
}
.menu ul li
{
	list-style: none;
	margin: 0 20px;
	color: #b2b1b1 !important;
	cursor: pointer;
}
.menu a
{
	color: #999;
	text-decoration: none;
}
.menu a:hover
{
	color: #F98714 !important;
}
.logo img
{
	width: 60px;
	margin-top: -16px;
	margin-right: 30px;
}
.active
{
	color: #F98714 !important;
}
.signup-btn
{
	top: 40px;
	right: 80px;
	position: absolute;
	text-decoration: none;
	color: #b2b1b1;
	border: 2px solid transparent;
	border-radius: 20px;
	background-image: linear-gradient(#42455a,#42455a),radial-gradient(circle at top left,#D72A1D,#F98714);
	background-origin: border-box;
	background-clip: content-box, border-box;
}
.signup-btn span
{
	display: block;
	padding: 8px 22px;
}
/*-----Price Plans-----*/
#price
{
	padding: 40px 0;
	background: #42455a;
}
h1
{
	color: #fff;
}
.single-price
{
	margin: 10px auto;
	display: inline;
	float: left;
	width: 100%;
	background-color: #fff;
	transition: 0.5s;
}
.single-price:hover
{
	box-shadow: 0 2px 20px #333;
}
.price-head
{
	background-color: #F98714;
	display: inline;
	float: left;
	padding: 10px 5px;
	text-align: center;
	width: 100%;
}
.price-head h2
{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
	text-transform: uppercase;
}
.price-head p
{
	font-size: 25px;
	color: #ECECEC;
	font-weight: bold;
	line-height: 30px;
}
#price span
{
	font-size: 15px;
}
.price-content
{
	display: inline;
	float: left;
	width: 100%;
	padding: 0 15px;
}
.price-content ul li
{
	border-bottom: 1px solid #efefef;
	padding: 15px 10px;
	list-style: none;
}
ul li:last-child
{
	border: none;
}
.fa-check-circle
{
	color: green;
	margin-right: 10px;
	font-size: 20px;
}
.fa-times-circle
{
	color: red;
	margin-right: 10px;
	font-size: 20px;
}
.price-button
{
	display: inline;
	float: left;
	padding: 15px 15px 30px;
	text-align: center;
	width: 100%;
}
.buy-btn
{
	background-color: #F98714;
	border-radius: 3px;
	display: inline-block;
	font-size: 18px;
	padding: 15px 50px;
	transition: 0.5s;
}
.buy-btn:hover
{
	border-color: 1px solid #fff;
	background-color: #C35E11;
}
a
{
	text-decoration: none !important;
	color: #fff!important;
=======
body
{
	background: #42455a;
}
/*-----Price Plans-----*/
#price
{
	padding: 40px 0;
	background: #42455a;
}
h1
{
	color: #fff;
}
.single-price
{
	margin: 10px auto;
	display: inline;
	float: left;
	width: 100%;
	background-color: #fff;
	transition: 0.5s;
}
.single-price:hover
{
	box-shadow: 0 2px 20px #333;
}
.price-head
{
	background-color: #F98714;
	display: inline;
	float: left;
	padding: 10px 5px;
	text-align: center;
	width: 100%;
}
.price-head h2
{
	color: #fff;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 5px;
	padding: 5px;
	text-transform: uppercase;
}
.price-head p
{
	font-size: 25px;
	color: #ECECEC;
	font-weight: bold;
	line-height: 30px;
}
#price span
{
	font-size: 15px;
}
.price-content
{
	display: inline;
	float: left;
	width: 100%;
	padding: 0 15px;
}
.price-content ul li
{
	border-bottom: 1px solid #efefef;
	padding: 15px 10px;
	list-style: none;
}
ul li:last-child
{
	border: none;
}
.fa-check-circle
{
	color: green;
	margin-right: 10px;
	font-size: 20px;
}
.fa-times-circle
{
	color: red;
	margin-right: 10px;
	font-size: 20px;
}
.price-button
{
	display: inline;
	float: left;
	padding: 15px 15px 30px;
	text-align: center;
	width: 100%;
}
.buy-btn
{
	background-color: #F98714;
	border-radius: 3px;
	display: inline-block;
	font-size: 18px;
	padding: 15px 50px;
	transition: 0.5s;
}
.buy-btn:hover
{
	border-color: 1px solid #fff;
	background-color: #C35E11;
}
a
{
	text-decoration: none !important;
	color: #fff!important;
>>>>>>> dbb9dedcb9e2ca63193f3d51419f623e7c44031a
}